[Unit]
Description=Catalog Scheduler
After=catalog_worker.service

[Service]
Environment=PINAKES_KEYCLOAK_URL={{PINAKES_KEYCLOAK_URL}}
Environment=PINAKES_KEYCLOAK_REALM={{PINAKES_KEYCLOAK_REALM}}
Environment=PINAKES_KEYCLOAK_CLIENT_ID={{PINAKES_KEYCLOAK_CLIENT_ID}}
Environment=PINAKES_KEYCLOAK_CLIENT_SECRET={{PINAKES_KEYCLOAK_CLIENT_SECRET}}

Environment=PINAKES_SECRET_KEY={{PINAKES_SECRET_KEY}}
Environment=PINAKES_DATABASE_NAME={{PINAKES_DATABASE_NAME}}
Environment=PINAKES_POSTGRES_HOST={{PINAKES_POSTGRES_HOST}}
Environment=PINAKES_POSTGRES_USER={{PINAKES_POSTGRES_USER}}
Environment=PINAKES_POSTGRES_PASSWORD={{PINAKES_POSTGRES_PASSWORD}}
Environment=PINAKES_CONTROLLER_URL={{PINAKES_CONTROLLER_URL}}
Environment=PINAKES_CONTROLLER_VERIFY_SSL={{PINAKES_CONTROLLER_VERIFY_SSL}}
Environment=PINAKES_CONTROLLER_TOKEN={{PINAKES_CONTROLLER_TOKEN}}
Environment=PINAKES_MEDIA_ROOT={{PINAKES_MEDIA_ROOT}}
Environment=PINAKES_STATIC_ROOT={{PINAKES_STATIC_ROOT}}
Environment=PINAKES_ALLOWED_HOSTS={{PINAKES_ALLOWED_HOSTS}}
Environment=PINAKES_REDIS_HOST={{PINAKES_REDIS_HOST}}
Environment=PINAKES_REDIS_PORT={{PINAKES_REDIS_PORT}}
Environment=PINAKES_REDIS_DB={{PINAKES_REDIS_DB}}
Environment=PINAKES_HTTPS_ENABLED={{PINAKES_HTTPS_ENABLED}}
Environment=PINAKES_UI_ALLOWED_ORIGINS={{PINAKES_UI_ALLOWED_ORIGINS}}
Environment=PINAKES_CSRF_TRUSTED_ORIGINS={{PINAKES_CSRF_TRUSTED_ORIGINS}}
User={{PINAKES_SERVICE_USER}}
WorkingDirectory=/opt/automation-services-catalog
ExecStart=/bin/bash -c 'cd /opt/automation-services-catalog/ && source /opt/automation-services-catalog/venv/bin/activate && python manage.py cronjobs'

[Install]
WantedBy=multi-user.target
