[Unit]
Description=Catalog Server
After=postgresql-13.service

[Service]
Environment=AUTOMATION_SERVICES_CATALOG_KEYCLOAK_URL={{AUTOMATION_SERVICES_CATALOG_KEYCLOAK_URL}}
Environment=AUTOMATION_SERVICES_CATALOG_KEYCLOAK_REALM={{AUTOMATION_SERVICES_CATALOG_KEYCLOAK_REALM}}
Environment=AUTOMATION_SERVICES_CATALOG_KEYCLOAK_CLIENT_ID={{AUTOMATION_SERVICES_CATALOG_KEYCLOAK_CLIENT_ID}}
Environment=AUTOMATION_SERVICES_CATALOG_KEYCLOAK_CLIENT_SECRET={{AUTOMATION_SERVICES_CATALOG_KEYCLOAK_CLIENT_SECRET}}

Environment=AUTOMATION_SERVICES_CATALOG_SECRET_KEY={{AUTOMATION_SERVICES_CATALOG_SECRET_KEY}}
Environment=AUTOMATION_SERVICES_CATALOG_DATABASE_NAME={{AUTOMATION_SERVICES_CATALOG_DATABASE_NAME}}
Environment=AUTOMATION_SERVICES_CATALOG_POSTGRES_HOST={{AUTOMATION_SERVICES_CATALOG_POSTGRES_HOST}}
Environment=AUTOMATION_SERVICES_CATALOG_POSTGRES_USER={{AUTOMATION_SERVICES_CATALOG_POSTGRES_USER}}
Environment=AUTOMATION_SERVICES_CATALOG_POSTGRES_PASSWORD={{AUTOMATION_SERVICES_CATALOG_POSTGRES_PASSWORD}}
Environment=AUTOMATION_SERVICES_CATALOG_CONTROLLER_URL={{AUTOMATION_SERVICES_CATALOG_CONTROLLER_URL}}
Environment=AUTOMATION_SERVICES_CATALOG_CONTROLLER_VERIFY_SSL={{AUTOMATION_SERVICES_CATALOG_CONTROLLER_VERIFY_SSL}}
Environment=AUTOMATION_SERVICES_CATALOG_CONTROLLER_TOKEN={{AUTOMATION_SERVICES_CATALOG_CONTROLLER_TOKEN}}
Environment=AUTOMATION_SERVICES_CATALOG_MEDIA_ROOT={{AUTOMATION_SERVICES_CATALOG_MEDIA_ROOT}}
Environment=AUTOMATION_SERVICES_CATALOG_STATIC_ROOT={{AUTOMATION_SERVICES_CATALOG_STATIC_ROOT}}
Environment=AUTOMATION_SERVICES_CATALOG_ALLOWED_HOSTS={{AUTOMATION_SERVICES_CATALOG_ALLOWED_HOSTS}}
Environment=AUTOMATION_SERVICES_CATALOG_REDIS_HOST={{AUTOMATION_SERVICES_CATALOG_REDIS_HOST}}
Environment=AUTOMATION_SERVICES_CATALOG_REDIS_PORT={{AUTOMATION_SERVICES_CATALOG_REDIS_PORT}}
Environment=AUTOMATION_SERVICES_CATALOG_REDIS_DB={{AUTOMATION_SERVICES_CATALOG_REDIS_DB}}
Environment=AUTOMATION_SERVICES_CATALOG_HTTPS_ENABLED={{AUTOMATION_SERVICES_CATALOG_HTTPS_ENABLED}}
Environment=AUTOMATION_SERVICES_CATALOG_UI_ALLOWED_ORIGINS={{AUTOMATION_SERVICES_CATALOG_UI_ALLOWED_ORIGINS}}
Environment=AUTOMATION_SERVICES_CATALOG_CSRF_TRUSTED_ORIGINS={{AUTOMATION_SERVICES_CATALOG_CSRF_TRUSTED_ORIGINS}}
User={{AUTOMATION_SERVICES_CATALOG_SERVICE_USER}}
WorkingDirectory=/opt/ansible-catalog
ExecStart=/bin/bash -c 'cd /opt/ansible-catalog/ && source /opt/ansible-catalog/venv/bin/activate && gunicorn --workers=3 --bind 0.0.0.0:8000 ansible_catalog.wsgi --log-level=debug'

[Install]
WantedBy=multi-user.target
