[Unit]
Description=Catalog Scheduler
After=catalog_worker.service

[Service]
Environment=ANSIBLE_CATALOG_KEYCLOAK_URL={{ANSIBLE_CATALOG_KEYCLOAK_URL}}
Environment=ANSIBLE_CATALOG_KEYCLOAK_REALM={{ANSIBLE_CATALOG_KEYCLOAK_REALM}}
Environment=ANSIBLE_CATALOG_KEYCLOAK_CLIENT_ID={{ANSIBLE_CATALOG_KEYCLOAK_CLIENT_ID}}
Environment=ANSIBLE_CATALOG_KEYCLOAK_CLIENT_SECRET={{ANSIBLE_CATALOG_KEYCLOAK_CLIENT_SECRET}}

Environment=ANSIBLE_CATALOG_SECRET_KEY={{ANSIBLE_CATALOG_SECRET_KEY}}
Environment=ANSIBLE_CATALOG_DATABASE_NAME={{ANSIBLE_CATALOG_DATABASE_NAME}}
Environment=ANSIBLE_CATALOG_POSTGRES_HOST={{ANSIBLE_CATALOG_POSTGRES_HOST}}
Environment=ANSIBLE_CATALOG_POSTGRES_USER={{ANSIBLE_CATALOG_POSTGRES_USER}}
Environment=ANSIBLE_CATALOG_POSTGRES_PASSWORD={{ANSIBLE_CATALOG_POSTGRES_PASSWORD}}
Environment=ANSIBLE_CATALOG_CONTROLLER_URL={{ANSIBLE_CATALOG_CONTROLLER_URL}}
Environment=ANSIBLE_CATALOG_CONTROLLER_VERIFY_SSL={{ANSIBLE_CATALOG_CONTROLLER_VERIFY_SSL}}
Environment=ANSIBLE_CATALOG_CONTROLLER_TOKEN={{ANSIBLE_CATALOG_CONTROLLER_TOKEN}}
Environment=ANSIBLE_CATALOG_MEDIA_ROOT={{ANSIBLE_CATALOG_MEDIA_ROOT}}
Environment=ANSIBLE_CATALOG_STATIC_ROOT={{ANSIBLE_CATALOG_STATIC_ROOT}}
Environment=ANSIBLE_CATALOG_ALLOWED_HOSTS={{ANSIBLE_CATALOG_ALLOWED_HOSTS}}
Environment=ANSIBLE_CATALOG_REDIS_HOST={{ANSIBLE_CATALOG_REDIS_HOST}}
Environment=ANSIBLE_CATALOG_REDIS_PORT={{ANSIBLE_CATALOG_REDIS_PORT}}
Environment=ANSIBLE_CATALOG_REDIS_DB={{ANSIBLE_CATALOG_REDIS_DB}}
Environment=ANSIBLE_CATALOG_HTTPS_ENABLED={{ANSIBLE_CATALOG_HTTPS_ENABLED}}
Environment=ANSIBLE_CATALOG_UI_ALLOWED_ORIGINS={{ANSIBLE_CATALOG_UI_ALLOWED_ORIGINS}}
Environment=ANSIBLE_CATALOG_CSRF_TRUSTED_ORIGINS={{ANSIBLE_CATALOG_CSRF_TRUSTED_ORIGINS}}
User={{ANSIBLE_CATALOG_SERVICE_USER}}
WorkingDirectory=/opt/ansible-catalog
ExecStart=/bin/bash -c 'cd /opt/ansible-catalog/ && source /opt/ansible-catalog/venv/bin/activate && python manage.py cronjobs'

[Install]
WantedBy=multi-user.target
