distro
Django
django-filter
django-rq
django-taggit
djangorestframework
drf-extensions
drf-spectacular
gunicorn
insights_analytics_collector
Pillow
psycopg2
python-dateutil
pydantic
pytz
requests
rq-scheduler
django-environ
social-auth-core[openidconnect]
social-auth-app-django
django-cors-headers
cryptography
