Django
django-filter
django-rq
django-split-settings
django-taggit
djangorestframework
drf-extensions
drf-spectacular
Pillow
psycopg2
python-dateutil
pydantic
requests
django-environ
social-auth-core[openidconnect]
social-auth-app-django
django-cors-headers
