export RHN_USER=YourRHNUserID
export RHN_PASSWORD=YourRHNPassword
export PINAKES_CONTROLLER_URL=YourTowerURL
export PINAKES_CONTROLLER_VERIFY_SSL=False
export PINAKES_CONTROLLER_TOKEN=YourTowerToken

export PINAKES_KEYCLOAK_URL=http://192.168.33.20:8080/auth
export PINAKES_KEYCLOAK_REALM_FRONTEND_URL=http://keycloak.vm.local:8080/auth
export PINAKES_KEYCLOAK_REALM=pinakes
export PINAKES_KEYCLOAK_CLIENT_ID=pinakes
export PINAKES_KEYCLOAK_DISPLAY_NAME=PINAKES
export PINAKES_KEYCLOAK_CLIENT_SECRET=REALLYWELLKEPTSECRET
export PINAKES_KEYCLOAK_USER=admin
export PINAKES_KEYCLOAK_PASSWORD=admin
export REDIRECT_URIS_STR=http://catalog.vm.local,*

export PINAKES_NGINX_HOST_NAME=catalog.vm.local
export PINAKES_NGINX_PROXY_URL=http://localhost:8000

export PINAKES_SECRET_KEY="gobbledegook"
export PINAKES_DATABASE_NAME=dev_catalog
export PINAKES_POSTGRES_HOST=localhost
export PINAKES_POSTGRES_PORT=5432
export PINAKES_POSTGRES_USER=postgres
export PINAKES_POSTGRES_PASSWORD=catalog
export PINAKES_STATIC_ROOT=/var/lib/catalog/public/static
export PINAKES_MEDIA_ROOT=/var/lib/catalog/public/media
export PINAKES_SERVICE_USER=catalog
export PINAKES_ALLOWED_HOSTS=catalog.vm.local
export PINAKES_REDIS_HOST=localhost
export PINAKES_REDIS_PORT=6379
export PINAKES_REDIS_DB=0
export PINAKES_HTTPS_ENABLED=True
export PINAKES_UI_ALLOWED_ORIGINS=https://catalog.vm.local
export PINAKES_CSRF_TRUSTED_ORIGINS=https://catalog.vm.local
