PINAKES_CONTROLLER_URL=<<ControllerURL>>
PINAKES_CONTROLLER_TOKEN=<<ControllerToken>>
PINAKES_CONTROLLER_VERIFY_SSL=<<ControllerVerifySSL>>
PINAKES_INSIGHTS_AUTH_METHOD=certificate
PINAKES_INSIGHTS_TRACKING_STATE=False
PINAKES_INSIGHT_URL=https://cert.cloud.redhat.com/api/ingress/v1/upload
#PINAKES_INSIGHTS_URL=https://cloud.redhat.com/api/ingress/v1/upload
PINAKES_INSIGHTS_USERNAME=unknown
PINAKES_INSIGHTS_PASSWORD=unknown


PINAKES_KEYCLOAK_URL=http://keycloak:8080/auth
PINAKES_KEYCLOAK_CLIENT_SECRET=SOMESECRETVALUE
PINAKES_KEYCLOAK_USER=admin
PINAKES_KEYCLOAK_PASSWORD=admin
PINAKES_KEYCLOAK_REALM=pinakes
PINAKES_KEYCLOAK_CLIENT_ID=pinakes
PINAKES_KEYCLOAK_DISPLAY_NAME=Pinakes Domain
PINAKES_KEYCLOAK_REALM_FRONTEND_URL=https://keycloak.k8s.local/auth
REDIRECT_URIS_STR=http://app:8000,http://app:8000/*,*
PINAKES_KEYCLOAK_VERIFY_SSL=false

PINAKES_REDIS_HOST=redis
PINAKES_REDIS_PORT=6379
PINAKES_REDIS_DB=0
PINAKES_DATABASE_NAME=dev_catalog
PINAKES_POSTGRES_HOST=postgres
PINAKES_POSTGRES_USER=keycloak
PINAKES_POSTGRES_PASSWORD=password
PINAKES_MEDIA_ROOT=/app/media
PINAKES_ALLOWED_HOSTS=pinakes.k8s.local,app
PINAKES_SECRET_KEY="django-insecure-k8^atj4p3jj^zkb3=o(rhaysjzy_mr&#h(yl+ytj#f%@+er4&5"
PINAKES_DB_ENCRYPTION_KEYS="VEVTVFRFU1RURVNUVEVTVFRFU1RURVNUVEVTVFRFU1Q="
PINAKES_STATIC_ROOT=/app/static
PINAKES_LOGIN_REDIRECT_URL=/ui/catalog/index.html
PINAKES_HTTPS_ENABLED=True
PINAKES_CSRF_TRUSTED_ORIGINS=https://pinakes.k8s.local
PINAKES_DEBUG=True
