# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ devel ]
  pull_request:
    branches: [ devel ]

jobs:
  build:
    env:
      DJANGO_SETTINGS_MODULE: pinakes.settings.development
      PINAKES_SECRET_KEY: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update pip and install linters
      run: |
        python -m pip install --upgrade pip
        # TODO(cutwater): Replace with `pip install -r lint-dependencies.txt`
        python -m pip install flake8 black

    - name: Lint with black
      run: |
        black --check --diff .

    - name: Lint with flake8
      run: |
        flake8 . --count --statistics

    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt -r test-requirements.txt

    - name: Test with pytest
      run: |
        pytest
